In [1]:
import pandas as pd

# Determine if having a paid Vine review makes a difference in the percentage of 5-star reviews

In [3]:
#Read in vine table as a dataframe
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3DT59XH7HXR9K,5.0,0.0,0.0,N,Y
1,R1LFS11BNASSU8,5.0,0.0,1.0,N,Y
2,R296RT05AG0AF6,5.0,0.0,0.0,N,Y
3,R3V37XDZ7ZCI3L,5.0,0.0,1.0,N,Y
4,R14GU232NQFYX2,5.0,0.0,0.0,N,Y

In [4]:
#datatypes
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4880466 entries, 0 to 4880465
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 223.4+ MB

In [19]:
#Filter data to create a DataFrame or table where there are 20 or more total votes
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [6]:
# Data is filtered to create a DataFrame or table where the percentage of helpful_votes is equal to or greater than 50%
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [7]:
# Table that retrieves all the rows where a review was written as part of the Vine program (paid)
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13470,R1Z71RW4J9IK93,5.0,20.0,22.0,Y,N
18140,R3FVB5QI11KI9Q,4.0,192.0,200.0,Y,N
20156,R2G027YBMVXV6Y,5.0,39.0,48.0,Y,N
26393,R1QGBAN7BMGWRR,5.0,121.0,129.0,Y,N
28369,R2NH2AU7XL9ZDZ,3.0,18.0,20.0,Y,N

In [8]:
#Table that retrieves all the rows where a review was written as part of the Vine program (unpaid)
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [9]:
# Total number of reviews
count_vine = len(vine_reviews)
count_vine

1207

In [10]:
# Number of 5-star reviews
count_nonvine = len(not_vine_reviews)
count_nonvine

97839

In [11]:
#5-star Vine reviews
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

509

In [20]:
# Pe5-star non-Vine reviews
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

45858

In [15]:
# Percentage 5-star reviews are calculated for all Vine reviews
(max_rating_vine/count_vine)*100

42.17067108533554

In [16]:
# Percentage 5-star reviews are calculated for all non-Vine reviews
(max_rating_nonvine/count_nonvine)*100

46.87087971054488